@import "tailwindcss";
@import "../styles/theme.css";

:root {
  --accent: 168 85 247; /* roxo */
  --accent2: 34 211 238; /* ciano */
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

::selection {
  background: rgba(var(--accent), 0.35);
}

/* foco bonito e consistente */
:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--accent2), 0.18);
  border-radius: 10px;
}

/* utilitários opcionais (se quiser usar) */
@layer utilities {
  .accent-text {
    color: rgb(var(--accent2));
  }
  .accent-ring {
    box-shadow: 0 0 0 3px rgba(var(--accent), 0.2);
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 */
}

::-webkit-scrollbar-thumb {
  background-color: #27272a; /* zinc-800 */
  border-radius: 999px;
  border: 2px solid #09090b; /* cria espaço */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46; /* zinc-700 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #09090b;
}
